.hero-section {
   
  background: 
  linear-gradient(rgba(2, 18, 40, 0.7), rgba(2, 29, 51, 0.7)), 
  url('/src/assets/Images/slider.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff; 
    


  }

  .hero-content {
    padding: 50px; 
    background-color: rgba(0, 0, 0, 0.6); 
  }


  