
*{
    overflow-x: hidden;
}
.login{
     align-items: center;
    color: #fff !important;
    font-weight: bold ;
    display: flex;
    justify-content: center;
   gap: 2rem;
}

.btn{

    border: 1px solid #fff !important;
    color: #fff !important;
}