
/* content */
table.content{

    text-align: left;
  }

  table.content th{

    font-weight: 500;
    font-size: 1rem;
    padding: 0.3rem;

  }

  table.content td{

    border: 1px solid black;
    
  }