footer {
  overflow-x: hidden !important;
  

  /* background: url('./../../assets/Images/bac-1.webp'); */
  background-size: contain;
  background-repeat: no-repeat;
 background-color: #121212;

}

footer .nav-link{
  color: rgb(119,119,119) !important;
  text-decoration: none;
}

footer .nav-link:hover {
  color: #fff !important; /* Optional: white color for nav links on hover */
}

footer h5,footer p {
  color: #fff; /* White color for headings */
}

